body {
    /*min-height: 2000px;*/
    padding-top: 70px;
    background: url('/resources/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #ffffff;
    font-family: 'Advent Pro', sans-serif;
    font-size: 17px;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }

.hexIn h1 { margin: 0px; }

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-padding-tb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

[class^="hvr-"] {
    -moz-osx-font-smoothing: grayscale;
    background: #e1e1e1 none repeat scroll 0 0;
    color: rgba(0, 0, 0, .50);
    font-weight: bold;
    cursor: pointer;
    margin: 0.4em;
    padding: 6px;
    width: 100%;
    text-decoration: none;
}

.hvr-overline-from-left::before {
    background: #D75F17 none repeat scroll 0 0;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    right: 100%;
    top: 0;
    transition-duration: 0.3s;
    transition-property: right;
    transition-timing-function: ease-out;
    z-index: -1;
}

.hvr-overline-from-left[data-count='25']::before { width: 25%; }
.hvr-overline-from-left[data-count='50']::before { width: 50%; }
.hvr-overline-from-left[data-count='75']::before { width: 75%; }
.hvr-overline-from-left[data-count='80']::before { width: 80%; }
.hvr-overline-from-left[data-count='85']::before { width: 85%; }
.hvr-overline-from-left[data-count='90']::before { width: 90%; }
.hvr-overline-from-left[data-count='100']::before { width: 100%; }

/*.hvr-overline-from-left[data-count='25']:hover:before, .hvr-overline-from-left[data-count='25']:focus:before, .hvr-overline-from-left[data-count='25']:active:before { right: 75%; }
.hvr-overline-from-left[data-count='50']:hover:before, .hvr-overline-from-left[data-count='50']:focus:before, .hvr-overline-from-left[data-count='50']:active:before { right: 50%; }
.hvr-overline-from-left[data-count='75']:hover:before, .hvr-overline-from-left[data-count='75']:focus:before, .hvr-overline-from-left[data-count='75']:active:before { right: 25%; }
.hvr-overline-from-left[data-count='80']:hover:before, .hvr-overline-from-left[data-count='80']:focus:before, .hvr-overline-from-left[data-count='80']:active:before { right: 20%; }
.hvr-overline-from-left[data-count='85']:hover:before, .hvr-overline-from-left[data-count='85']:focus:before, .hvr-overline-from-left[data-count='85']:active:before { right: 15%; }
.hvr-overline-from-left[data-count='90']:hover:before, .hvr-overline-from-left[data-count='90']:focus:before, .hvr-overline-from-left[data-count='90']:active:before { right: 10%; }*/

@media screen and (max-width: 700px) {
    .me-image { display: none; }
}

.form-control { border: 3px solid #D75F17; }

.footer { background: #222222; border-top: 5px solid #19A6DF; outline: 2px solid #D75F17; height: 100px; }

.icon-social { color: #D75F17; font-size: 22px; }

.btn-primary { background: #19A6DF; }

.footer-text { font-size: 12px; }

/*Modal*/
.modal-header {
    border-bottom: 1px solid #D75F17;
}

.modal-footer {
    border-top: 1px solid #D75F17;
}

.modal-content {
    padding: 10px;;
}

.modal-body p { margin: 0px; }
.proyect-image {
    border: 5px solid #D75F17;
    -webkit-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.75);
    width: 100%;
    height: auto;
}


/*ADMIN LOGIN*/
.login-wrap {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: #222222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}

