body {
    /*min-height: 2000px;*/
    padding-top: 70px;
    background: url('/resources/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #ffffff;
    font-family: 'Advent Pro', sans-serif;
    font-size: 17px;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }

.hexIn h1 { margin: 0px; }

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-padding-tb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

[class^="hvr-"] {
    -moz-osx-font-smoothing: grayscale;
    background: #e1e1e1 none repeat scroll 0 0;
    color: rgba(0, 0, 0, .50);
    font-weight: bold;
    cursor: pointer;
    margin: 0.4em;
    padding: 6px;
    text-decoration: none;
}