@CHARSET "UTF-8";

body {  text-align:left; background: #d6d7d3 url('../images/bg.jpg') no-repeat top center; font-family: 'Quattrocento Sans', Arial; font-size: 16px; }
	#content-wrap { width: 400px; height: 340px; position: relative; margin: 0 auto; margin-top: 100px; background-color: rgba(0, 0, 0, 0.5); background: rgba(0, 0, 0, 0.5); color: rgba(0, 0, 0, 0.5); -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
	#content { color: #E8E8E8; text-align: center; } 	

/*Login*/
inputs:-webkit-input-placeholder { color: #b5b5b5; }
inputs-moz-placeholder { color: #b5b5b5; }

.inputLogin {
    width: 270px;
    padding: 15px 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9D9E9E;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.inputLogin:focus {
    background: #DFE9EC;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}

.inputsLogin:hover {
    background: #DFE9EC;
    color: #414848;
}

.button {
text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font-size:18px; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button:hover{
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font-size:18px; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
 
 
 
 /*MENU*/
 #menu-wrap { width: 100%; height: 50px; position: fixed; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.4); background: rgba(0, 0, 0, 0.4); color: rgba(0, 0, 0, 0.4); }
 	#menu-content { width: 660px; height: 50px; line-height: 50px; font-weight: bold; font-size: 20px; text-align: center; margin: 0 auto; }
 		#menu-content .item { height: 50px; width: 200px; color: #fff; float: left; margin-left: 10px; margin-right: 10px; cursor: pointer; }
 		#menu-content .item:hover { background-color: #E8E8E8;
				-webkit-transition: background-color 500ms linear;
			    -moz-transition: background-color 500ms linear;
			    -o-transition: background-color 500ms linear;
			    -ms-transition: background-color 500ms linear;
			    transition: background-color 500ms linear; color: #303030;  }
		#menu-content .active { background: #E8E8E8; color: #303030; }  
 
 /*PAGE*/
 #page-wrap { width: 1024px; position: relative; margin: 0 auto; margin-top:100px;  }
 
 /*upload*/
 #upload-wrap { width: 800px; margin: 0 aunto; }
 